<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
		
		<aop:aspectj-autoproxy/>
		
		<bean id="myAspect" class="com.test04.MyAspect"></bean>
		<bean id="man" class="com.test04.Man"></bean>
		<bean id="woman" class="com.test04.Woman"></bean>
		
		<aop:config>
			<aop:aspect ref="myAspect">
				<aop:before method="before" pointcut="execution(public * *(..))"/>
				<aop:after method="after" pointcut="execution(public void com.text04.*.*(..))"/><!-- *은 한개이상 ..은 0개 이상이라는 뜻 위 아래 둘다 됨 -->
			</aop:aspect>
		</aop:config>


</beans>
